.nav-user:hover {
    color: #18BC9C!important;
}

nav.custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.navbar-nav {
    text-align: right;
}

ul.nav.nav-pills {
    float: right;
}


li.nav-item a.login {
    color: #fff;
}

li.nav-item a.login:hover {
    color: #18BC9C;
}

table.profile tr th {
    width: 25%;
}

table.lotto_price_list tr td.number {
    color: #ff0000;
}

#toast-container > .notify-ss {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
    background-color: #51a351;
    opacity: 1;
}

#lotto_list {
    list-style-type: none;
    padding : 0;
}
ol, ul {
    list-style: none;
}

#lotto_list li .lotto_list_head {
    padding: 10px;
    text-align: left;
    background: #fff;
}

#lotto_list li span.name {
    color: #0099ff;
    font-weight: bold !important;
}

#lotto_list li span.time {
    float: right;
}

#lotto_list li {
    margin: 10px 0;
    border: #262626 1px solid;
    font-size: 14px;
    color: #000;
}

.showtable {
    background-color: transparent;
}

.showtable.history thead tr th {
    color: #fff;
    background: #4d4d4d;
}