.nav-user:hover {
    color: #18BC9C!important;
}

nav.custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.navbar-nav {
    text-align: right;
}

ul.nav.nav-pills {
    float: right;
}


li.nav-item a.login {
    color: #fff;
}

li.nav-item a.login:hover {
    color: #18BC9C;
}

table.profile tr th {
    width: 25%;
}

table.lotto_price_list tr td.number {
    color: #ff0000;
}